Repository frederic-mahe/Hardware-Target-Game-Database, pull requests merged in 2021-05, with the labels that each got.

#660 SNES: correct checksums for Cooly Skunk, add English translation
  EverDrive Pack SMDBs/Super EverDrive & SD2SNES SMDB.txt
Labels: SNES, translation

#664 SNES: GSC no longer contains unique entries
  EverDrive Pack SMDBs/Super EverDrive & SD2SNES SMDB.txt
Labels: SNES

#666 Noir (GG): Chase H.Q. (USA) needs SMS file extension
  EverDrive Pack SMDBs/Analogue Nt Mini Noir Jailbreak SMDB.txt
Labels: Noir

#667 SNES: move Star Ocean non-SDD1 translation from Hacks to Translations
  EverDrive Pack SMDBs/Super EverDrive & SD2SNES SMDB.txt
Labels: SNES

#668 MiSTer (NES): add Kid Dracula sav file
  EverDrive Pack SMDBs/MiSTer.txt
Labels: MiSTer, NES

#670 Noir (NES): no-intro update
  EverDrive Pack SMDBs/Analogue Nt Mini Noir Jailbreak SMDB.txt
Labels: NES, Noir

#673 Add file size to SMDB files on parse
  parse_pack.py
Labels: enhancement

#679 SNES: add file size column (parse_pack update)
  EverDrive Pack SMDBs/Super EverDrive & SD2SNES SMDB.txt
Labels: SNES
